<div class="container" style="max-width: 768px; background-color:#FFFFFF;">
    <%= image_tag 'about', alt: 'SBR', width: 768  %>
    <section class="section">
        <div class="content">
            <h1>關於鐵人三項 ABOUT SBR</h1>
            <p>三項全能（英語：Triathlon ，源自希臘語）， 又被稱為鐵人三項或三項鐵人，是由三項運動由組成的比賽。</p>
            <p>在當代，鐵人三項運動主要指按順序進行的游泳，自行車和短程馬拉松在現代三項全能運動裡，這些事件安置為一個接一個按順序連續完成，競爭者完成時間包括正式時間和在比賽的之間「過渡」時間，包括必要更換衣服和鞋的時間。因此，單單精通游泳，馬拉松，自行車，並不足夠保證完成時間具有競爭性，訓練過後的鐵人需要學習用保護他們的精力和耐力隨後的階段的模式完成每個階段。</p>
            <p>三項全能在中文世界裡更廣泛地的稱為「鐵人三項」。但實際上，「鐵人三項」的英文IronmanTriathlon實際上是世界三項全能運動協會 （ WTC ）的註冊商標，可以僅用WTC舉辦的三項全能賽事，而且具有特定的賽程，可以視為三項全能的一種。無可否認，世界三項全能運動協會的鐵人三項運動賽事具有很高的影響力和知名度，某種意義上讓「鐵人三項」成為了「三項全能」的代名詞。</p>
        </div>
    </section>
</div>