<div class="container" style="max-width: 768px; background-color:#FFFFFF;" >
  <%= image_tag 'news', alt: 'SBR', width: 768 %>
  <section class="section">
    <h1 class="title">最新消息 NEWS</h1>
    <a href="/" class="button is-link is-outlined">
      <span class="icon">
        <i class="icon ion-android-arrow-back is-small"></i>
      </span>
      <span>
        返回 Back
      </span>
    </a>
    <%= render 'form' %>
  </section>
</div>