<div class="container" style="max-width: 768px; background-color:#FFFFFF;">
    <%= image_tag 'race', alt: 'SBR', width: 768  %>
    <section class="section">
        <div class="content">
            <h1>關於賽事路線 ABOUT ROUTE</h1>
            <p>縣警局建議自行車賽道（台九丙線路段）採北進南出方式單向管制（不再全線管制），選手僅使用北上車道，請選手注意安全，切勿使用南下車道（台九丙線路段）以免發生事故，當日大會亦加派道路交管人員，請聽從著反光背心工作人員指揮。</p>
            <%= image_tag 'rw', alt: 'SBR', width: 354, height: 500  %>
            <%= image_tag 's', alt: 'SBR', width: 354, height: 500  %>
        </div>
    </section>
</div>