<div class="container" style="max-width: 768px; background-color:#FFFFFF;" >
  <%= image_tag 'news', alt: 'SBR', width: 768 %>
  <section class="section">
    <h1 class="title">歷屆成績 SCORE</h1>
    <table class="table is-hoverable">
      <thead>
        <tr>
          <th></th>  
          <th>類別</th>
          <th style="width: 438px;">標題</th>
          <th>公告日期</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><i class="icon ion-pin is-small"></i></td> 
          <td><span class="tag is-rounded is-danger is-hidden-tablet">系統</span><span class="tag is-rounded is-danger is-hidden-mobile">系統 SYSOP</span></td>
          <td>
              系統測試中
          </td>
          <td>2017.01.20</td>
        </tr>
        <tr>
          <td></td> 
          <td><span class="tag is-rounded is-warning is-hidden-tablet">比賽</span><span class="tag is-rounded is-warning is-hidden-mobile">比賽 RACE</span></td>
          <td>Arsenal</td>
          <td>2017.01.20</td>
        </tr>
        <tr>
          <td></td> 
          <td><span class="tag is-rounded is-link is-hidden-tablet">新聞</span><span class="tag is-rounded is-link is-hidden-mobile">新聞 NEWS</span></td>
          <td>????</td>
          <td>2017.01.20</td>
        </tr>
        <tr>
          <td></td> 
          <td><span class="tag is-rounded is-success is-hidden-tablet">得獎</span><span class="tag is-rounded is-success is-hidden-mobile">得獎 AWARD</span></td>
          <td>?????</td>
          <td>2017.01.20</td>
        </tr>
      </tbody>
    </table>
  </section>
</div>