<section class="hero is-primary">
    <div class="container" style="max-width: 750px;">
        <section class="section">
            <small class="is-small">指導單位：教育部體育署、交通部觀光局</small><br>
            <small class="is-small">主辦單位：花蓮縣政府、花東縱谷國家風景區管理處</small><br>
            <small class="is-small">承辦單位：花蓮縣體育會、花蓮縣體育會鐵人三項委員會</small><br>
            <small class="is-small">協辦單位：花蓮縣紅十字會水上救生大隊、花蓮縣教育處、花蓮縣警察局、花蓮縣衛生局、 花蓮縣消防局、花蓮縣環保局、花蓮市公所、壽豐鄉公所、池南社區發展協會、 洄瀾有線電視、更生日報、東方報、聯統日報、後山電台、慈濟中學、 藍天麗池飯店、亞士都飯店、豐興餅舖、臺灣中油、臺灣電力公司</small><br><br>
            <div class="has-text-centered">
                <small class="is-small"><a href="https://www.facebook.com/%E6%B4%84%E7%80%BE%E5%9C%8B%E9%9A%9B%E9%90%B5%E4%BA%BA%E4%B8%89%E9%A0%85%E8%8F%81%E8%8B%B1%E8%B3%BD-Sbr-367009490309929/"><i class="icon ion-social-facebook"></i></a>花蓮縣體育會鐵人三項委員會©2006~<%= Time.current.year %>　TEL：(03)857-9148　E-Mail：chengyu51688@gmail.com</small>
            </div>
        </section>
    </div>
</section>